*{
	/*border-style: solid;*/
	font-family: garamond;
}
html{
	margin: 0;
	padding: 0;
	background: #ecf0f1;
}
body{
	margin: 0;
	padding: 0;
}
header{
	text-align: center;
	display: inline-flex;
	width: 75%;
	padding: 10px;
}
header::before{
	left: 0;
	background: #3498db;
	content: "";
	height: 550px;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}
#Hkiri{
	padding-right: 15px;
}
#Hkanan{
	text-align: left;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}
#Hkanan{
	color: #ffffff;
}
#first-cont{
	background: #ffffff;
	display: inline-flex;
	color: #3498db;
	width: 60%;
	margin: 0 20%;
	margin-top: 6%;
	border-radius: 10px;
	-webkit-box-shadow: 0px 20px 17px -14px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 20px 17px -14px rgba(0,0,0,0.75);
	box-shadow: 0px 20px 17px -14px rgba(0,0,0,0.75);
}
#first-cont img{
	width: 250px;
	border-radius: 2em;
}
#first-cont img:hover{
	background: #2980b9;
	cursor: pointer;
	-webkit-box-shadow: 0px 20px 17px -14px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 20px 17px -14px rgba(0,0,0,0.75);
	box-shadow: 0px 20px 17px -14px rgba(0,0,0,0.75);
}
#first-cont .content-first{
	margin: 5% auto;
	text-align: center;
	/*text-shadow: -2px 2px 2px #f39c12;*/
}
#second-cont{ 
	width: 50%;
	margin-left: auto;
	margin-right: 2%;
	margin-top: 1%;
}
#second-cont .content-second{
	width: 100%;
	color: #2980b9;
	padding: 2%;
	font-family: calibri;
}
#second-cont ul li{
	text-align: left;
}
.title-sec{
	width: 40%;
	height: 350px;
	color: #3498db;
	margin-top: 1%;
	padding-left: 1%;
	float: left;
}
.title-sec p{
	font-size: 90px;
}
#third-cont::before{
	width: 100%;
	height: 530px;
	left: 0;
	content: "";
	position: absolute;
	z-index: -1;
	background: #3498db;
}
#third-cont{
	margin: auto;
	margin-top: 3%;
	width: 80%;
	color: #ffffff;
}
#third-cont .content-third{
	width: 10%;
	display: inline-block;
	margin: 1%;
	font-size: 10px;
	text-align: center;
}
#third-cont .content-third img{
	width: 100%;
}
#third-cont .third-title{
	float: right;
	width: 50%;
	height: 300px;
	font-size: 60px;
	padding-left: 0.9%;
	word-wrap: break-word;
}
#fourth-cont{
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	width: 80%;
	color: #3498db;
}
.fourth-title{
	float: left;
	width: 45%;
	height: 300px;
	font-size: 70px;
	word-wrap: break-word;
}
.content-fourth{
	background: #ffffff;
	float: right;
	width: 55%;
	-webkit-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
}
.content-fourth table{
	border-style: solid;
	border-collapse: collapse;
	border-color: #3498db;
}
.content-fourth table tr:first-child{
	background: #3498db;
	color: #ffffff;
}
#five-cont::before{
	width: 100%;
	height: 450px;
	left: 0;
	content: "";
	position: absolute;
	z-index: -1;
	background: #3498db;
}
#five-cont{
	margin-top: 6%;
	margin-bottom: 6%;
	margin-left: 4%;
	width: 90%;
	color: #ffffff;
	display: inline-flex;
}
.five-title{
	width: 30%;
	font-size: 70px;
	word-wrap: break-word;
}
.content-five{
	width: 70%;
	padding-top: 2%;
	padding-right: 3%;
}/*
.content-five img{
	width: 100%;
	-webkit-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
}*/
.content-five iframe{
	-webkit-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
}
#six-cont{
	width: 90%;
	color: #3498db;
	margin: auto;
}
.six-title{
	float: left;
	width: 50%;
	word-wrap: break-word;
}
.six-title p:first-child{
	font-size: 40px;
	margin-bottom: 0;
}
.six-title p:nth-child(2){
	font-size: 70px;
	margin-top: 0;
}
.content-six{
	float: right;
	width: 40%;
	height: 300px;
	margin: auto;
	background: #3498db;
	color: #ffffff;
	font-size: 20px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 5px 13px -4px rgba(0,0,0,0.75);
}
.content-six input{
	width: 100%;
	height: 20px;
	border: none;
	border-radius: 5px;
}
.content-six textarea{
	width: 100%;
	height: 100px;
	border: none;
	border-radius: 5px;
	resize: none;
}
.content-six table{
	width: 100%;
	padding: 2%;
}
.content-six button{
	width: 100px;
	padding: 1%;
	border: none;
	border-radius: 5px;
	font-size: 15px;
}
footer{
	width: 100%;
	background: #3498db;
	display: inline-flex;
	margin-top: 50px;
	color: #ffffff;
	font-size: 20px;
}
footer .foot-kiri{
	width: 40%;
	padding-left: 15px;
	padding-top: 10px;
}
footer .foot-kanan{
	width: 50%;
	text-align: right;
	padding: 10px;
}
footer .foot-kanan a{
	margin-left: 10px;
}
footer .foot-kanan img{
	width: 50px;
}